##Multiple Linear Regression

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

#veri setini import ediyoruz
data = pd.read_csv("multilinearregression.csv", sep=";")
data

   alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000
5   345          5        14  632000
6   355          3         0  680000
7   400          4        10  725000

In [15]:
reg = linear_model.LinearRegression()
reg.fit(data[['alan','odasayisi','binayasi']].values,data['fiyat'])

#230 m2, 4 odalı, 10 yaşında evin maaş tahmini
reg.predict([[230,4,10]])

array([530243.29284619])

In [17]:
#230 m2, 6 odalı, 10 yaşında evin maaş tahmini
reg.predict([[230,6,10]])

array([560030.94034588])

In [18]:
#230 m2, 6 odalı, 0 yaşında evin maaş tahmini
reg.predict([[230,6,0]])

array([586097.7833456])

In [19]:
reg.predict([[230,4,10],[230,6,10],[230,4,0]])

array([530243.29284619, 560030.94034588, 556310.13584591])

In [22]:
# multiple linear regression formülü
# y = a +b1x1+ b2x2+...
a = reg.intercept_
b1 = reg.coef_[0]
b2 = reg.coef_[1]
b3 = reg.coef_[2]

x1 = 230
x2 = 4
x3 = 0

y= a + b1*x1 + b2*x2 + b3*x3
y

556310.1358459113

##Model Kaydetme

In [25]:
import pickle
model_file = "evfiyattahmini.pickle"
pickle.dump(reg, open(model_file,'wb'))

##Model İmport

In [26]:
my_model = pickle.load(open("evfiyattahmini.pickle",'rb'))

In [27]:
my_model.predict([[230,6,0]])

array([586097.7833456])